In [8]:
import numpy as np
import pandas as pd

In [11]:
data = np.load('EURUSD_2000_to_2025.npy', allow_pickle=True)

In [43]:
df = pd.DataFrame(data)
df = df.rename(columns={0: 'Date', 1: 'Time', 2:'Open', 3:'High', 4:'Low', 5:'Close', 6:'Seconds'})
df = df.set_index('Date')
df = df.drop('Seconds', axis = 1)
df = df.astype({'Open': 'float64', 'High': 'float64', 'Low': 'float64', 'Close':'float64'})

In [44]:
print(df.dtypes)
print(df)

Time      object
Open     float64
High     float64
Low      float64
Close    float64
dtype: object
             Time     Open     High      Low    Close
Date
2000.05.30  17:35  0.93040  0.93050  0.93040  0.93050
2000.05.30  17:38  0.93040  0.93040  0.93030  0.93030
2000.05.30  17:43  0.93010  0.93010  0.93000  0.93000
2000.05.30  17:44  0.92980  0.92980  0.92970  0.92970
2000.05.30  18:29  0.92980  0.92990  0.92980  0.92990
...           ...      ...      ...      ...      ...
2025.01.31  16:54  1.03604  1.03619  1.03573  1.03580
2025.01.31  16:55  1.03579  1.03594  1.03575  1.03578
2025.01.31  16:56  1.03581  1.03582  1.03566  1.03576
2025.01.31  16:57  1.03575  1.03580  1.03571  1.03577
2025.01.31  16:58  1.03575  1.03576  1.03563  1.03576

[8380434 rows x 5 columns]